---
title: ManageIQ Design Summit 2016
page_classes: summit-page header-page
---

%section.page-header
  .row.summit-logo
    %section.header-text.col-md-12

      %img{src:"/images/manageiq-summit-logo.svg", width:550}

%section
  .row
    %section.col-md-12
      :markdown

        # ManageIQ Design Summit 2016

    %section.col-md-6
      %br
      %br
      %br
      :markdown
        The ManageIQ Design Summit is for everyone in the ManageIQ community
        and anyone interested in this open-source cloud management platform.
        Whether you're a user wishing to learn more about leveraging the powers
        of ManageIQ, a contributing partner/developer wanting to discuss the
        future directions and roadmap of this project, or a community member
        with the desire to contribute to this great community, we have something for you!

        We anticipate a total of 160 developers, product managers, partners,
        users and decision makers to join ManageIQ Design Summit 2016 for
        insightful discussions, interactive demos and thought-provoking presentations.

    %section.col-md-6
      %br
      :markdown
        Event details:

        * Monday - Tuesday, June 6 - 7, 2016
        * Sheraton Mahwah Hotel, 1 International Blvd, N Rte 17, Mahwah, NJ 07495, USA
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6012.56201141666!2d-74.16696209179639!3d41.10655362262174!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1dab50d78a516!2sSheraton+Mahwah+Hotel!5e0!3m2!1sen!2sfi!4v1458339356852" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>

  .row
    %section.col-md-12
      :markdown
    
        ## Program

        Thanks to all of you who have submitted talk proposals at
        [PaperCall](https://www.papercall.io/miqsummit2016). We have received many
        excellent presentation topics. Here's the agenda for the 2 conference
        days (subject to change):

      %table
        %tr
          %th{width: "10%"} June 6
          %th{width: "45%"} Track 1
          %th Track 2
        %tr
          %td 8:30
          %td{colspan: 2} Breakfast
        %tr
          %td 9:00
          %td.summit-talk{colspan: 2} ManageIQ Design Summit Keynote (Oleg Barenboim)
        %tr
          %td 9:45
          %td.summit-talk{colspan: 2} ManageIQ, now harnessing the power of Google's infrastructure! (Eric Johnson, Joe Selman)
        %tr
          %td 10:30
          %td{colspan: 2} Break
        %tr
          %td 11:00
          %td.summit-talk{colspan: 2} Cloud Networking (Nuage, Greg Blomquist, Jason Frey)
        %tr
          %td 11:45
          %td.summit-talk{colspan: 2} MIQ Code Management and Promotion with special guests Ansible and Git (Jason Cornell)
        %tr
          %td 12:30
          %td{colspan: 2} Lunch
        %tr
          %td 13:30
          %td.summit-talk Replication (Nick Carboni) and Authentication (Alberto Bellotti)
          %td.summit-talk ManageIQ for Azure (Bronagh Sorota)
        %tr
          %td 14:15
          %td.summit-talk ManageIQ High Availability (Brett Thurber)
          %td.summit-talk DevOps with ManageIQ and OpenShift (Fabien Dupont)
        %tr
          %td 15:00
          %td{colspan: 2} Break
        %tr
          %td 15:30
          %td.summit-talk ManageIQ for VMware vSphere (Adam Grare, Greg Blomquist)
          %td.summit-talk Self-Service UI (Hapreet Kataria, Erik Clarizio)
        %tr
          %td 16:15
          %td.summit-talk Implementation in a Managed Service Environment (Mike Hulsman)
          %td.summit-talk Working to design the new chargeback interface (Sergio Ocon)
        %tr
          %td 17:00
          %td{colspan: 2} Day 1 wrap-up
        %tr
          %td 17:30
          %td{colspan: 2} Happy Hour (sponsored by Ansible)

      %br
      %br

      %table
        %tr
          %th{width: "10%"} June 7
          %th{width: "45%"} Track 1
          %th Track 2
        %tr
          %td 8:30
          %td{colspan: 2} Breakfast
        %tr
          %td 9:00
          %td.summit-talk{colspan: 2} ManageIQ UI Improvements (Dan Clarizio, Eric Winchell)
        %tr
          %td 9:45
          %td.summit-talk{colspan: 2} Container Management in ManageIQ: One Year in Review (Federico Simoncelli)
        %tr
          %td 10:30
          %td{colspan: 2} Break
        %tr
          %td 11:00
          %td.summit-talk{colspan: 2} Pluggable Providers (John Hardy, Jason Frey, Greg Blomquist, Marcel Hild)
        %tr
          %td 11:45
          %td.summit-talk{colspan: 2} Automate (Madhu Kanoor, Greg McCullough)
        %tr
          %td 12:30
          %td{colspan: 2} Lunch
        %tr
          %td 13:30
          %td.summit-talk Community Update and Discussion (Sergio Ocon, Carol Chen)
          %td.summit-talk Investigative Debugging of ManageIQ Automation (Peter McGowan)
        %tr
          %td 14:15
          %td.summit-talk ManageIQ for OpenStack (Tzu-Mainn Chen)
          %td.summit-talk ManageIQ and Ansible (Greg McCullough, Drew Bomhof, Brandon Dunne) / Generic Objects (Bill Wei)
        %tr
          %td 15:00
          %td{colspan: 2} Break
        %tr
          %td 15:30
          %td.summit-talk The next level oVirt Provider - what did we do, and how can you do it too! (Juan Hernandez, Piotr Kliczewski)
          %td.summit-talk Including Middleware in the Game (Heiko Rupp)
        %tr
          %td 16:15
          %td.summit-talk OpenNMS as complement to ManageIQ (Jeff Gehlbach)
          %td.summit-talk Getting your First Pull Request Merged (Sergio Ocon)
        %tr
          %td 17:00
          %td{colspan: 2} Event wrap-up

  .row
    %section.col-md-12
      :markdown
    
        ## Sponsors

        We'd like to thank our sponsors for making the ManageIQ Design Summit 2016 possible!

    %section.col-md-4
      %a{href:"http://www.boozallen.com/"}
        %img{src:"/images/sponsors/booz-allen-logo.png", width:300}

    %section.col-md-4
      %a{href:"http://cloud.google.com"}
        %img{src:"/images/sponsors/google-cloud-platform.png", width:300}

    %section.col-md-4
      %a{href:"http://www.nuagenetworks.net/"}
        %img{src:"/images/sponsors/nuage-networks-logo.png", width:300}

    %section.col-md-4
      %a{href:"http://www.ansible.com/"}
        %img{src:"/images/sponsors/ansible-logo.png", width:240}

    %section.col-md-4
      %a{href:"http://www.redhat.com/"}
        %img{src:"/images/sponsors/red-hat-logo.png", width:240}

    %section.col-md-12
      :markdown

        If you are interested in becoming a sponsor for this event,
        please take a look at our [sponsorship prospectus](https://drive.google.com/file/d/0B3vH4VbTLExFQjh6T2dzNUMybW8/view?usp=sharing).
        Sponsors will be promoted on this ManageIQ site and other
        event-related communications. Thank you for your consideration!

  .row
    %section.col-md-12
      :markdown
        ## Registration

        Tickets to the ManageIQ Design Summit are now available at Eventbrite.
        Register today to reserve your place at the event! The ticket price includes
        admission to all summit sessions, as well as lunch and refreshments for both days.
        
        <div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=22114445903&ref=etckt" frameborder="0" height="320" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ></div></div>

  .row
    %section.col-md-12
      :markdown
    
        ## Travel and Logistics

    %section.col-md-6
      :markdown
        ### Airports

        The closest major airport is Newark Liberty International Airport
        ([EWR](http://www.panynj.gov/airports/newark-liberty.html)) in New
        Jersey. If you are flying in, we highly recommend using that
        airport. Other airports in the area you can consider (especially
        if you're flying in from outside of the US) are LaGuardia Airport
        ([LGA](http://www.panynj.gov/airports/laguardia.html)) and John F.
        Kennedy International Airport
        ([JFK](http://www.panynj.gov/airports/jfk.html)), both in New York.

    %section.col-md-6
      :markdown
        ### Accommodation
      
        You can conveniently stay at the event venue, the Sheraton Mahwah
        Hotel. Reserve your rooms [online](http://www.sheratonmahwah.com/)
        or by calling +1-201-529-1114 / +1-800-325-3535.
        
        Other hotels in the area:

        * [Courtyard by Marriott Mahwah](http://www.marriott.com/hotels/travel/ewrmw-courtyard-mahwah/)
        * [DoubleTree by Hilton Mahwah](http://doubletree3.hilton.com/en/hotels/new-jersey/doubletree-by-hilton-hotel-mahwah-MWHNJDT/index.html)
        * [Homewood Suites by Hilton Mahwah](http://homewoodsuites3.hilton.com/en/hotels/new-jersey/homewood-suites-by-hilton-mahwah-MAHNJHW/index.html)

%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js", :type => "text/javascript"}
%script{:src => "../javascripts/easyparallax.js", :type => "text/javascript"}
