<div class="appliances">
  <h4>
    <a href="/download/">
      <span>Or download one of our virtual appliances</span>
      <i class="fa fa-arrow-right"></i>
    </a>
  </h4>

  <div class="flex_container">
    <div class="appliance_brand">
      <img src="/assets/images/providers/kubernetes.svg" class="appliance_logo">
    </div>

    <div class="appliance_brand">
      <img src="/assets/images/providers/vmware.svg" class="appliance_logo">
    </div>

    <div class="appliance_brand">
      <img src="/assets/images/providers/openstack.svg" class="appliance_logo">
    </div>

    <div class="appliance_brand">
      <img src="/assets/images/providers/ovirt.svg" class="appliance_logo">
    </div>

    <div class="appliance_brand">
      <img src="/assets/images/providers/redhat.svg" class="appliance_logo">
    </div>

    <div class="appliance_brand">
      <img src="/assets/images/providers/ms_azure.svg" class="appliance_logo">
    </div>

    <div class="appliance_brand">
      <img src="/assets/images/providers/kvm.svg" class="appliance_logo">
    </div>

    <div class="appliance_brand">
      <img src="/assets/images/providers/ms_system.svg" class="appliance_logo">
    </div>
  </div>
</div>
