<header class="doc_menu-header">
  <ul class="menu">
    <li{% if include.doc_group == "start" %} class="active"{% endif %}>
      <a href="/docs/get-started/">Get Started</a>
    </li>
    <li{% if include.doc_group == "user" %} class="active"{% endif %}>
      <a href="/docs/reference/">User Reference</a>
    </li>
    <li{% if include.doc_group == "dev" %} class="active"{% endif %}>
      <a href="/docs/guides/README">Developer Guides</a>
    </li>

    <li>
      <a href="{{ site.book_path }}" class="ext" target="_blank">
        Automation Book
      </a>
    </li>
  </ul>
</header>
