<article class="feature">
  <div class="row">
    <div class="col-md-4">
      <img src="assets/images/manageiq-logo-standard-vertical.svg" alt="" />
    </div>
    <div class="col-md-8">
      <div class="feature-title">
        Discovery Base Architecture
      </div>
      <div class="feature-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Cum sociis natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor
        fringilla. Donec sed odio dui. Nulla vitae elit libero,
        a pharetra augue. Curabitur blandit tempus porttitor.
      </div>
    </div>
  </div>
</article>
