<section class="container features">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center">Features</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <article class="feature">
        <aside class="feature-img">
          <img src="{{site.image_path}}/icons/agentless.png" alt="Agentless">
        </aside>
        <div class="feature-content">
          <h5 class="feature-title">
            Agentless
          </h5>
          <div class="feature-text">
            ManageIQ does not depend on agents, and is therefore extremely easy
            to install and operate.
          </div>
        </div>
      </article>
    </div>
    <div class="col-sm-12 col-md-6">
      <article class="feature">
        <aside class="feature-img">
          <img src="{{site.image_path}}/icons/smart_state.png" alt="SmartState Analysis">
        </aside>
        <div class="feature-content">
          <h5 class="feature-title">
            SmartState Analysis
          </h5>
          <div class="feature-text">
            SmartState analysis allows ManageIQ to peek inside virtual
            machines, containers and hosts to discover their contents.
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <article class="feature">
        <aside class="feature-img">
          <img src="{{site.image_path}}/icons/virtual_appliance.png" alt="Virtual Appliance">
        </aside>
        <div class="feature-content">
          <h5 class="feature-title">
            Virtual Appliance
          </h5>
          <div class="feature-text">
            ManageIQ is distributed as a single virtual appliance that is
            available for a wide variety of a platforms.
          </div>
        </div>
      </article>
    </div>
    <div class="col-sm-12 col-md-6">
      <article class="feature">
        <aside class="feature-img">
          <img src="{{site.image_path}}/icons/scalable_architecture.png" alt="Scalable Architecture">
        </aside>
        <div class="feature-content">
          <h5 class="feature-title">
            Scalable Architecture
          </h5>
          <div class="feature-text">
            The ManageIQ virtual appliance can be deployed standalone, or as
            part of a federated global deployment.
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
