<footer class="site-footer">
  <div class="footer-row" id="footer_top">
    <div class="footer-group">
      <img class="footer-logo" src="/assets/images/manageiq-glyph-inverse.svg" alt="ManageIQ">
      {% include site_nav.html %}
    </div>


    <ul class="contact_menu">
      <li>
        <a href="https://github.com/ManageIQ/">
          <i class="fa fa-github"></i>
          Github
        </a>
      </li>
      <li>
        <a href="https://gitter.im/ManageIQ/manageiq">
          <i class="fa fa-gitter">
            {% include icon-gitter.svg %}
          </i>
          Gitter
        </a>
      </li>
      <li>
        <a href="http://talk.manageiq.org/">
          <i class="fa fa-comments"></i>
          Forum
        </a>
      </li>
      {% unless page.path contains "docs" %}
      <li>
        <a href="https://github.com/ManageIQ/manageiq.org/edit/master/site/{{ page.path }}">
          <i class="fa fa-pencil"></i>
          Edit this page
        </a>
      </li>
      {% endunless %}
    </ul>
  </div>

  <div class="footer-row" id="footer_bottom">
    <div class="footer-legal">
      <span class="copyright">
        &copy; {{ site.time | date: '%Y' }} ManageIQ.
      </span>
      <span>
        <a href="http://community.redhat.com/software/" target="_blank">
          Sponsored by Red Hat, Inc.
        </a>
      </span>
      <span>
        <a href="/logo/" class="footer-link">Logo</a>
      </span>
      <span>
        <a href="/security/" class="footer-link">Security</a>
      </span>
      <span>
        <a href="/legal/" class="footer-link">Legal &amp; Privacy</a>
      </span>
    </div>

    <div class="footer-social">
      <ul class="social_menu">
        <li>
          <a href="https://twitter.com/ManageIQ" class="social_link social_link-twitter">
            <i class="fa fa-twitter"></i>
          </a>
        </li>

        <li>
          <a href="https://www.facebook.com/manageiq/" class="social_link social_link-facebook">
            <span class="social_link-icon">
              <i class="fa fa-facebook"></i>
            </span>
          </a>
        </li>

        <!--  -->
        <li>
          <a href="https://www.linkedin.com/company/manageiq" class="social_link social_link-linkedin">
            <span class="social_link-icon">
              <i class="fa fa-linkedin"></i>
            </span>
          </a>
        </li>

        <li>
          <a href="https://www.youtube.com/user/ManageIQVideo" class="social_link social_link-youtube">
            <span class="social_link-icon">
              <i class="fa fa-youtube"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
