<footer class="site-footer">
  <div class="footer-row" id="footer_top">
    <div class="footer-group">
      <img class="footer-logo" src="/assets/images/manageiq-glyph-inverse.svg" alt="ManageIQ">
      {% include site_nav.html %}
    </div>


    <ul class="contact_menu">
      <li>
        <a href="mailto:info@manageiq.org">Email</a>
      </li>
      <li>
        <a href="https://gitter.im/ManageIQ/manageiq">Gitter</a>
      </li>
      <li>
        <a href="http://talk.manageiq.org/">Forum</a>
      </li>
    </ul>
  </div>

  <div class="footer-row" id="footer_bottom">
    <div class="footer-legal">
      <span class="copyright">
        &copy; 2016 ManageIQ.
        Sponsored by Red Hat, Inc.
      </span>
      <span>
        <a href="/logo" class="footer-link">Logo</a>
      </span>
      <span>
        <a href="/legal" class="footer-link">Legal &amp; Privacy</a>
      </span>
    </div>

    <div class="footer-social">
      <ul class="social_menu">
        <li>
          <a href="https://twitter.com/ManageIQ" class="social_link social_link-twitter">
            <span class="social_link-icon">{% include icon-twitter.svg %}</span>
          </a>
        </li>

        <li>
          <a href="https://github.com/ManageIQ/" class="social_link social_link-github">
            <span class="social_link-icon">{% include icon-github.svg %}</span>
          </a>
        </li>

        <li>
          <a href="https://www.facebook.com/manageiq/" class="social_link social_link-facebook">
            <span class="social_link-icon">
              <i class="fa fa-facebook"></i>
            </span>
          </a>
        </li>

        <li>
          <a href="https://www.youtube.com/user/ManageIQVideo" class="social_link social_link-youtube">
            <span class="social_link-icon">
              <i class="fa fa-youtube"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
