<footer class="site-footer">
  <div class="footer-row" id="footer_top">
    {% include site_nav.html %}

    <ul class="contact_menu">
      <li>Email</li>
      <li>Gitter</li>
      <li>Forum</li>
    </ul>
  </div>

  <div class="footer-row" id="footer_bottom">
    <div class="footer-legal">
      <span class="copyright">
        &copy; 2016 ManageIQ.
        Sponsored by Red Hat, Inc.
      </span>
      <span>
        <a href="/logo" class="footer-link">Logo</a>
      </span>
      <span>
        <a href="/legal" class="footer-link">Legal &amp; Privacy</a>
      </span>
    </div>

    <div class="footer-social">
      <ul class="social_menu">
        {% if site.github_username %}
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</footer>
