<div class="solutions">
  <article class="solution solution-left">
    <div class="solution-container">
      <aside class="solution-img">
        <img src="{{site.image_path}}/icons/discovery.png" alt="Discovery">
      </aside>

      <div class="solution-content">
        <h3 class="solution-title">Discovery</h3>
        <div class="solution-text">
          ManageIQ connects to the APIs of your virtualization, container,
          network and storage management systems and continuously discovers
          your resources and maps their relationships.
        </div>
      </div>
    </div>
  </article>

  <article class="solution solution-right">
    <div class="solution-container">
      <div class="solution-content">
        <h3 class="solution-title">Self-service</h3>
        <div class="solution-text">
          ManageIQ allows you to define bundles of resources and publish
          them in a service catalog, from where they can be ordered by
          end users. ManageIQ manages the full life cycle service of a
          service including policy, delegated operations, showback,
          and end of life.
        </div>
      </div>

      <aside class="solution-img">
        <img src="{{site.image_path}}/icons/self_service.png" alt="Self Service">
      </aside>
    </div>
  </article>

  <article class="solution solution-left">
    <div class="solution-container">
      <aside class="solution-img">
        <img src="{{site.image_path}}/icons/compliance.png" alt="Compliance">
      </aside>

      <div class="solution-content">
        <h3 class="solution-title">Compliance</h3>
        <div class="solution-text">
          ManageIQ can scan the contents of your VMs, hosts and containers,
          without the help of an agent. Using this data you can define
          advanced compliance policies and take action.
        </div>
      </div>
    </div>
  </article>

  <article class="solution solution-right">
    <div class="solution-container">
      <div class="solution-content">
        <h3 class="solution-title">Optimization</h3>
        <div class="solution-text">
          ManageIQ captures metrics on your VMs, containers, and more.
          It can find unused systems, make right-sizing recommendations,
          and do capacity planning.
        </div>
      </div>

      <aside class="solution-img">
        <img src="{{site.image_path}}/icons/optimization.png" alt="Optimization">
      </aside>
    </div>
  </article>
</div>
