<div class="solutions">
  <article class="solution solution-left">
    <div class="solution-container">
      <aside class="solution-img">
        <img src="{{site.image_path}}/icons/discovery.png" alt="Discovery">
      </aside>

      <div class="solution-content">
        <h3 class="solution-title">Continuous Discovery</h3>
        <div class="solution-text">
          Connect ManageIQ to your virtualization, container, network, and
          storage management systems, where it will discover inventory, map
          relationships, and listen for changes. The result is a rich,
          up-to-date and cross-referenced dataset that forms the basis for our
          advanced management capabilities.
        </div>
      </div>
    </div>
  </article>

  <article class="solution solution-right">
    <div class="solution-container">
      <div class="solution-content">
        <h3 class="solution-title">Self-service</h3>
        <div class="solution-text">
          Define bundles of resources and publish them in a service catalog,
          from where they can be ordered by end users. Once provisioned, you
          can manage the full life cycle of a service, including policy,
          compliance, delegated operations, chargeback/showback, and
          retirement.
        </div>
      </div>

      <aside class="solution-img">
        <img src="{{site.image_path}}/icons/self_service.png" alt="Self Service">
      </aside>
    </div>
  </article>

  <article class="solution solution-left">
    <div class="solution-container">
      <aside class="solution-img">
        <img src="{{site.image_path}}/icons/compliance.png" alt="Compliance">
      </aside>

      <div class="solution-content">
        <h3 class="solution-title">Compliance</h3>
        <div class="solution-text">
          Scan the contents of your VMs, hosts, and containers, and combine
          with auto discovery data to create advanced security and compliance
          policies. Content scanning works without the help of an agent and
          therefore works for any VM including foreign and un-cooperative ones.
        </div>
      </div>
    </div>
  </article>

  <article class="solution solution-right">
    <div class="solution-container">
      <div class="solution-content">
        <h3 class="solution-title">Optimization</h3>
        <div class="solution-text">
          Capture metrics for your VMs, containers, and hosts to understand
          current utilization and normal operating ranges. Then use this data
          to find unused systems, get right-sizing recommendations, do capacity
          planning, and run what-if scenarios.
        </div>
      </div>

      <aside class="solution-img">
        <img src="{{site.image_path}}/icons/optimization.png" alt="Optimization">
      </aside>
    </div>
  </article>
</div>
