<h3 class="triad-heading">
  Take 10 minutes to get started with the Darga Release
</h3>

<div class="triad">
  <div class="triad-col">
    <div class="triad-item">
      <div class="triad-logo">
        <img src="{{ site.image_path }}/try_vagrant.svg" alt="Try ManageIQ on Vagrant" />
      </div>
      <div class="triad-title">Vagrant</div>
      <div class="triad-button">
        <a href="#" class="btn btn-default">
          Try It!
        </a>
      </div>
    </div>
  </div>

  <div class="triad-col">
    <div class="triad-item">
      <div class="triad-logo">
        <img src="{{ site.image_path }}/try_docker.svg" alt="Try ManageIQ on Docker" />
      </div>
      <div class="triad-title">Docker</div>
      <div class="triad-button">
        <a href="#" class="btn btn-default">
          Try It!
        </a>
      </div>
    </div>
  </div>

  <div class="triad-col">
    <div class="triad-item">
      <div class="triad-logo">
        <img src="{{ site.image_path }}/try_cloud.svg" alt="Try ManageIQ in the Cloud" />
      </div>
      <div class="triad-title">Public Cloud</div>
      <div class="triad-button">
        <a href="#" class="btn btn-default">
          Try It!
        </a>
      </div>
    </div>
  </div>
</div>
