_site
.sass-cache
.jekyll-metadata
.env

Gemfile.lock

dest/
site/_data/menus/ref_menu_latest.yml
site/_data/menus/ref_menu_kasparov.yml
site/_data/menus/ref_menu_jansa.yml
site/docs/guides
site/docs/reference/latest/
site/docs/reference/kasparov/
site/docs/reference/jansa/
site/.asset-cache

tmp/
.ruby-version

.bundle/
.asset-cache
