_site
.sass-cache
.jekyll-metadata
.env

Gemfile.lock

dest/
site/_data/menus/ref_menu_latest.yml
site/_data/menus/ref_menu_radjabov.yml
site/_data/menus/ref_menu_quinteros.yml
site/_data/menus/ref_menu_petrosian.yml
site/_data/menus/ref_menu_oparin.yml
site/_data/menus/ref_menu_najdorf.yml
site/_data/menus/ref_menu_morphy.yml
site/_data/menus/ref_menu_lasker.yml
site/_data/menus/ref_menu_kasparov.yml
site/_data/menus/ref_menu_jansa.yml
site/docs/guides
site/docs/reference/latest/
site/docs/reference/radjabov/
site/docs/reference/quinteros/
site/docs/reference/petrosian/
site/docs/reference/oparin/
site/docs/reference/najdorf/
site/docs/reference/morphy/
site/docs/reference/lasker/
site/docs/reference/kasparov/
site/docs/reference/jansa/
site/.asset-cache

tmp/
.ruby-version

.bundle/
.asset-cache
