_site
.sass-cache
.jekyll-metadata
.env

Gemfile.lock

dest/
site/_data/menus/ref_menu_*.yml
site/docs/guides
site/docs/reference/latest/
site/docs/reference/jansa/
site/docs/reference/ivanchuk/
site/docs/reference/hammer/
site/docs/reference/gaprindashvili/
site/docs/reference/fine/
site/docs/reference/euwe/
site/docs/reference/darga/
site/.asset-cache

tmp/
.ruby-version

.bundle/
.asset-cache
