~ wrap_layout :layout do

  %section.blog-post-page.row

    .col-md-10.col-md-offset-1

      - blog_post = current_page.data.date

      - if blog_post
        = partial :blog_post, locals: {article: current_page}

        %section#discourse-comments

        :javascript
          var discourseUrl = "http://talk.manageiq.org/",
              discourseEmbedUrl = 'http://manageiq.org#{current_page.url}';

          (function() {
            var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
              d.src = discourseUrl + 'javascripts/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
          })();


      - else
        = yield
