---
layout: default
body_class: home
---

<div class="page" id="home">
  <div class="banner" id="home_banner">
    <div class="banner-content">
      <h1>Discover, Optimize, and Control your Hybrid IT</h1>
      <h2>
        Manage containers, virtual machines, networks,
        and storage from a single platform
      </h2>
    </div>
  </div>

  {% include triad.html %}

  {% include appliances.html %}

  {% include solutions.html %}

  <section class="features">
    <h3 class="features-heading">Key Features</h3>
    <div class="features-container">
      <article class="feature">
        <aside class="feature-img">
          {% include placeholder.html %}
        </aside>
        <div class="feature-content">
          <h4 class="feature-title">
            Wide Platform Support
          </h4>
          <div class="feature-text">
            ManageIQ supports many different platforms,
            including VMware, Hyper-V, OpenStack, oVirtm Amazon Web Services,
            Azure, Google Cloud Platform, Kubernetes, OpenShift and more.
          </div>
        </div>
      </article>

      <article class="feature">
        <aside class="feature-img">
          {% include placeholder.html %}
        </aside>
        <div class="feature-content">
          <h4 class="feature-title">
            Wide Platform Support
          </h4>
          <div class="feature-text">
            ManageIQ supports many different platforms,
            including VMware, Hyper-V, OpenStack, oVirtm Amazon Web Services,
            Azure, Google Cloud Platform, Kubernetes, OpenShift and more.
          </div>
        </div>
      </article>

      <article class="feature">
        <aside class="feature-img">
          {% include placeholder.html %}
        </aside>
        <div class="feature-content">
          <h4 class="feature-title">
            Wide Platform Support
          </h4>
          <div class="feature-text">
            ManageIQ supports many different platforms,
            including VMware, Hyper-V, OpenStack, oVirtm Amazon Web Services,
            Azure, Google Cloud Platform, Kubernetes, OpenShift and more.
          </div>
        </div>
      </article>

      <article class="feature">
        <aside class="feature-img">
          {% include placeholder.html %}
        </aside>
        <div class="feature-content">
          <h4 class="feature-title">
            Wide Platform Support
          </h4>
          <div class="feature-text">
            ManageIQ supports many different platforms,
            including VMware, Hyper-V, OpenStack, oVirtm Amazon Web Services,
            Azure, Google Cloud Platform, Kubernetes, OpenShift and more.
          </div>
        </div>
      </article>
    </div>
  </section>
</div>
