---
layout: default
---

<div id="home">
  <div class="container">
    <h1>Discover, Optimize, And Control Your Hybrid IT</h1>
    <h2>
      Manage containers, virtual machines, networks,
      and storage from a single platform
    </h2>
  </div>

  <div class="jumbotron">
    {% include triad.html %}
  </div>

  <div class="container">
    <h2>
      ManageIQ is the open source manager of managers
      that discovers your environment: containers,
      virtual machines, networks, storage volumes, and more.
    </h2>

    <div class="features">
      {% for i in (1..3) %}
        {% include feature.html %}
      {% endfor %}
    </div>
  </div>
</div>
