---
layout: default
body_class: home
---

<div class="page" id="home">
  <div class="banner" id="home_banner">
    <div class="banner-content">
      <h1>Discover, Optimize, and Control your Hybrid IT</h1>
      <h2>
        Manage containers, virtual machines, networks,
        and storage from a single platform
      </h2>
    </div>
  </div>

  {% include triad.html %}

  {% include appliances.html %}

  <div class="home_container">

    <div class="features">
      {% for i in (1..3) %}
        {% include feature.html %}
      {% endfor %}
    </div>
  </div>
</div>
