.banner {
  display: flex;
  justify-content: center;
  align-items: center;

  @include banner_grad;

  h1, h2 {
    margin: 0;
    color: #fff;
    text-align: center;
  }

  h1 {
    margin-bottom: 16px;
  }

  h2 {
    font-size: 16px;
    color: $blue-white;
  }
}

.banner-content {
  width: 55em;
  @include container-fixed(0);
}

#home_banner {
  height: 440px;
}
