$banner_height: 440px;

.banner {
  display: flex;
  justify-content: center;
  align-items: center;

  @include banner_grad;

  overflow: hidden;
  position: relative; // necessary to hide absolutely positioned elements

  h1, h2 {
    margin: 0;
    color: #fff;
    text-align: center;
  }

  h1 {
    margin-bottom: 16px;
  }

  h2 {
    font-size: 16px;
    color: $blue-white;
  }
}

.banner-content {
  width: 60em;
  max-width: 100%;
  @include container-fixed(0);

  z-index: 5;
}

.banner-logo {
  background-image: url("/assets/images/logo/banner-glyph.svg");
  background-size: cover;
  position: absolute;
  width: 900px;
  height: 900px;
  right: -200px;
  z-index: 0;
}

#home_banner {
  height: $banner_height;
}
