.blog_container {
  max-width: 44em;
  margin: 4em auto 12em;
}

.blog_header {
  padding: 3em 0;
  border-bottom: 1px solid lighten($grey-dark, 60%);
  margin-bottom: 3em;

  h1 {
    margin: 0;
  }
}
