// See _post.scss for .post styles

.blog {
  background-color: #fff;

  summary {
    display: list-item;
    margin-bottom: 1em;
  }

  details {
    p {
      margin-left: 1em;
    }
  }
}

.archive_month_title {
  font-style: italic;
  padding: 0 0 0.5em 0;
  border-bottom: 1px solid lighten($heading-line, 10%);
}

.blog_container {
  margin: 1em 1em 12em;
  display: flex;
}

.blog_link {
  width: 100%;
}

.blog_header {
  margin: 1em;

  h1 {
    margin: 0;
    font-size: 16px;
  }
}

.pagination-container {
  display: none;
}

.blog_side {
  display: none;
}

.blog .footnotes {
  font-size: 75%;

  li {
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: #{$bp-desk0}) {
  .blog {
    padding: 6em 0 12em;
  }

  .blog_header {
    max-width: 64em;
    padding: 2em 0;
    margin: 0 auto;

    h1 {
      font-size: 20px;
    }
  }

  .blog_container {
    max-width: 64em;
    margin: 0 auto;
  }

  .blog_main {
    width: 44em;

    border-right: 1px solid lighten($heading-line, 10%);
    margin-right: 2em;
  }

  .blog_side {
    display: block;
    width: (64em - 48);
  }

  .blog_side-group {
    padding-bottom: 1em;
    border-bottom: 1px solid lighten($heading-line, 10%);
    margin-bottom: 2em;
  }

  .blog_side-heading {
    font-size: 16px;
    margin: 0 0 1em 0;
  }

  .blog_menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .blog_menu-year {
    font-size: 18px;

    ul {
      margin-top: 1em;
    }
  }

  .blog_menu-month {
    font-size: 16px;
    margin: 0 0 1em 1em;
  }

  .pagination-container {
    display: block;
  }

  .pager-container {
    display: none;
  }
}
