$site-bg: #f9f9f9;

$text-black: #444;

$grey-dark: #292e33;
$grey-md: #a6aeb7;

$grey-lite: #e6e6e6;
$grey-lite2: #ebebeb;

$blue-dark: #063452;
$blue-lite: #00a6e6;
$blue-lite2: #78c4f6;
$blue-white: #abdaf9;

$banner-grad-dark: rgba(6, 52, 81, 1);
$banner-grad-lite: rgba(12, 105, 165, 1);

$doc-line-lite: lighten($grey-dark, 70%);

@mixin banner_grad {
  @include gradient-horizontal($banner-grad-dark, $banner-grad-lite, 0, 100%);
}
