.features {
  border-top: 1px solid $grey-lite2;
  padding: 2em 0
}

.feature {
  display: flex;
  margin: 1em 0em;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.feature-img {
  width: 100px;
  height: 100px;
  margin-top: 15px;
  margin-right: 30px;
}

.feature-text {
  color: $text-subdued;
}
