.site-footer {
  @include banner_grad;
  color: #fff;

  .site_nav {
    a {
      font-size: 14px;
    }
  }

  .social_menu, .contact_menu {
    list-style: none;

    li {
      float: left;
      margin-right: 0.5em;
      text-align: center;
    }

    a {
      color: #fff;
    }
  }

  .social_link {
    display: block;
    width: 1.5em;
    height: 1.5em;

    svg {
      fill: $blue-lite2;
    }

    svg:hover {
      fill: #fff;
    }

    i.fa {
      font-size: 22px;
      color: $blue-lite2;
    }

    i.fa:hover {
      color: #fff;
    }
  }

  .social_link-username {
    display: none;
  }
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

#footer_top {
  height: 95px;
}

#footer_bottom {
  height: 60px;
  background-color: $blue-dark;
}

.footer-legal {
  font-size: 12px;
  color: $blue-lite2;

  span {
    margin-right: 1em;
  }

  a {
    color: #fff;
  }
}

.footer-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  width: 40px;
  height: 40px;
  margin: 0 70px 0 0;
}
