.site-header {
  width: 100%;
  padding: 30px;

  @include clearfix;
  @include banner_grad;

  z-index: 9999;

  .brand {
    float: left;
    color: #fff;
    display: block;
  }

  .brand-name {
    display: none;
  }

  .brand-logo {
    width: 160px;
    height: auto;
  }

  .main_nav {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;

    li {
      float: left;
      margin-right: 30px;

      &:last-child {
        margin-right: none;
      }
    }

    a {
      color: #fff;
    }
  }
}

.home {
  .site-header {
    position: fixed;
    top: 0;
  }
}
