.site-header {
  width: 100%;
  padding: 30px;

  @include clearfix;
  @include banner_grad;

  z-index: 9999;

  .brand {
    float: left;
    color: #fff;
    display: block;
  }

  .brand-name {
    display: none;
  }

  .brand-logo {
    width: 160px;
    height: auto;
  }

  .site_nav {
    float: right;
  }
}

.home {
  .site-header {
    position: fixed;
    top: 0;
    background: none;
  }
}
