$menu-link-color: lighten($grey-dark, 55%);
$menu-level-pad: 2em;

%menu_item {

}

.menu {
  padding: 0;

  ul {
    padding: 0;
    margin: 0;
  }

  li > ul {
    display: none;
  }

  li.menu-open > ul {
    display: block;
  }

  li.active > a {
    background-color: lighten($grey-dark, 8%);
  }

  a {
    display: block;
    padding: 0.75em 1em;
    line-height: 1.4;

    color: $menu-link-color;

    &:hover {
      background-color: lighten($grey-dark, 10%);
      text-decoration: none;
    }

    &:active {
      text-decoration: none;
    }
  }

  li > ul > li > a {
    padding-left: $menu-level-pad;
  }

  li > ul > li > ul > li > a {
    padding-left: $menu-level-pad * 2;
  }
}

.menu-parent {
  // font-weight: bold;

  a {
    color: #fff;
  }
}
