@mixin grayscale($amount: 100%) {
  // TODO: determine if filter: url is still valid
  // filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); // Firefox 10+, Firefox on Android

  // filter: gray; // Who cares about IE6-9
  filter: grayscale($amount);
  // -webkit-filter: grayscale($amount); // uncomment if necessary
}

@mixin fa_type {
  font: normal normal normal #{$fa-font-size-base}/#{$fa-line-height-base} FontAwesome; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin link_background_hover {
  background-color: transparent;
  transition: background-color 0.5s;

  &:hover {
    text-decoration: none;
    background-color: lighten($grad_end_color, 7%);
  }
}

@mixin responsive_img {
  max-width: 100%;
  height: auto;
}
