body {
  background-color: $site-bg;
  border-top: 3px solid $blue-lite;
}

.home_container {
  max-width: 867px;
  @include container-fixed(0);
}

.flex_container {
  display: flex;
  justify-content: center;
}

.doc_container {
  display: flex;

  .doc {
    flex-shrink: 1;
  }
}

.doc_menu {
  width: 100em;
  color: #fff;
  background-color: #292e33;

  .menu {
    list-style: none;

    ul {
      list-style: none;
    }
  }

  a {
    color: #fff;
  }
}
