body {
  background-color: $site-bg;
  border-top: 3px solid $blue-lite;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.home_container {
  max-width: 867px;
  @include container-fixed(0);
}

.flex_container {
  display: flex;
  justify-content: center;
}

.doc_container {
  @include container-fixed(0);
  background-color: #292e33;
}

.doc_menu {
  color: #fff;

  .menu {
    font-size: 14px;
    list-style: none;

    ul {
      list-style: none;
    }
  }

  a {
    color: #fff;
  }
}

.doc_page {
  background-color: $site-bg;
}
