section.partners {
  border-top: 1px solid $grey-lite2;
  padding: 60px 0;
}

.partners-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

  max-width: 899px;
  // min-width: 730px;
  margin: 0 auto;
}

.partner {
  padding: 0 20px 34px;
  margin: 0;

  img {
    @include grayscale;
    opacity: 0.8;
  }
}
