.platforms {
  background-color: #fff;
  padding: 3.75em 0;
}

.platforms-container {
  width: $hg-container-desktop;
  margin: 0 auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.platform_brand {
  width: 10em;
  margin: 0 1em;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

#platform_aws {
  width: 8em;
}

#platform_gcp {
  width: 16em;
}

#platform_kubernetes {
  width: 13em;
}

#platform_openshift {
  width: 6em;
}

#platform_openstack {
  width: 5em;
}

#platform_ovirt {
  width: 5em;
}

#platform_vmware {
  width: 11em;
}
