.solutions {}

.solution-container {
  @include container-fixed(0);
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
}

.solution {
  padding: 2em 0;
}

.solution-img {
  width: 80px;
  height: 80px;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.solution-content {
  flex: 1;
  max-width: 16em;
}

.solution-text {
  font-size: 12px;
}

@media only screen and (min-width: #{$bp-desk0}) {
  .solutions {}

  .solution-container {
    max-width: $hg-container-desktop;
  }

  .solution {
    padding: 72px 0;
  }

  .solution-left {
    background-color: #fff;

    .solution-img {
      margin-right: 72px;
    }
  }

  .solution-right {
    .solution-img {
      margin-left: 72px;
    }
  }

  // .solution-img {
  //   width: 175px;
  //   height: 175px;
  //
  //   img {
  //     display: block;
  //     max-width: 100%;
  //     height: auto;
  //   }
  // }

  .solution-content {
    flex: 1;
    max-width: 33em;
  }

  .solution-text {
    font-size: 14px;
  }
}
