.triad {
  max-width: $hg-container-desktop;
  @include container-fixed(0);
  padding-bottom: 60px;

  position: relative;
  top: $triad-offset;

  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

.triad-heading {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  padding: 30px;
}

.triad-col {
  @include make-md-column(4, $triad-gutter);

  border-right: 1px solid $grey-lite;

  &:last-child {
    border-right: none;
  }
}

.triad-item {}

.triad-logo {
  height: 150px;
  margin: 0 auto;

  img {
    display: block;
    max-width: 100%;
  }
}

.triad-title {
  text-align: center;
  font-size: 18px;
  line-height: 1;
  padding: 24px 0;
}

.triad-vagrant {
  width: 150px;
}

.triad-cloud {
  width: 180px;
}

.triad-button {
  text-align: center;

  .btn {
    display: block;
  }
}

.download {
  position: relative;
  top: ($triad-offset / 2);

  h4 {
    text-align: center;
  }
}
