/** Cabin: Used for headlines **/

@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), url('Cabin-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 500;
  src: local('Cabin Medium'), local('Cabin-Medium'), url('Cabin-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  src: local('Cabin SemiBold'), local('Cabin-SemiBold'), url('Cabin-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  src: local('Cabin Bold'), local('Cabin-Bold'), url('Cabin-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 400;
  src: local('Cabin Italic'), local('Cabin-Italic'), url('Cabin-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 500;
  src: local('Cabin Medium Italic'), local('Cabin-MediumItalic'), url('Cabin-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 600;
  src: local('Cabin SemiBold Italic'), local('Cabin-SemiBoldItalic'), url('Cabin-SemiBoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 700;
  src: local('Cabin Bold Italic'), local('Cabin-BoldItalic'), url('Cabin-BoldItalic.woff') format('woff');
}

/** Droid Sans: Used for body text **/

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans-Regular'), url('DroidSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('DroidSans-Bold.woff') format('woff');
}
