.features {
  margin: 1em 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 1em 0;
}

.feature {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
}
