$triad-gutter: 74px;

.triad-heading {
  text-align: center;
}

.triad {
  max-width: 867px;
  @include container-fixed(0);
}

.triad-col {
  @include make-md-column(4, 0);
}

.triad-item {
  padding: 0 ($triad-gutter / 2)
}

.triad-title {
  text-align: center;
}

.triad-logo {
  height: 195px;
}

.triad-button {
  text-align: center;

  .btn {
    display: block;
  }
}
