---
title: Documentation
---

:ruby

  def dummy_text paragraphs = 2, sentences = 3
    text = ''

    rand(1..paragraphs).times do
      text += lorem.sentences(rand(1..sentences)) + '.'
    end

    text
  end


.row

  %section.col-md-12
    %h2 Using ManageIQ

    .row

      .col-md-6
        :markdown
          ### First use walkthrough

          * [Quickstart](quickstart)

        %h3 Dashboard customization
        %ol
          - 5.times do
            %li= link_to lorem.sentence

      .col-md-6
        %h3 Quick cloud tips
        %ol
          - 10.times do
            %li= link_to lorem.sentence


  %section.col-md-12
    %h2 About ManageIQ

    .row
      .col-md-6
        %h3 ManageIQ's audience
        = dummy_text

      .col-md-6
        %h3 A perfect fit
        ManageIQ solves common problems by...
        = dummy_text

    .row
      .col-md-12
        :markdown
          ### Frequently Asked Questions (FAQ)

          If you have any more questions, please
          [read our Frequently Asked Questions page](faq).

