:ruby
  changelog_url = "https://raw.githubusercontent.com/ManageIQ/manageiq/master/CHANGELOG.md"

  begin
    log = open(changelog_url).read
  rescue
    raise "Error accessing #{changelog_url}"
  end

= markdown_to_html log
