.row

  .col-md-12
    :markdown

      ## Extending ManageIQ

      As a cloud management platform, ManageIQ provides many opportunities to
      extend its capabilities. Whether it is by codifying business rules for VM
      lifecycle, defining a custom widget for your dashboard, or verifying that
      VM placement constraints are enforced, you can use ManageIQ to add extra
      capabilities over and above the default platform.

      Best of all, if your extensions can be of use to others, you can share
      them through the [ManageIQ marketplace](http://market.manageiq.org), and
      take advantage of a community of users who will work with you to maintain
      and improve them.

      ### Examples

      * TODO: [VM lifecycle hooks](link tbd)
      * TODO: [Adding a service to the service catalog](link tbd)
      * TODO: [Creating an alert on an 80% full data store](link tbd)
      * TODO: [Defining VM provisioning workflow](link tbd)

