---
title: Community
---

:markdown
  ## Getting involved

  ManageIQ is made by [a big team](team)---one that's growing larger
  with every contribution.

  There are several ways for everyone to participate, whether it's
  contributing knowledge and experience or proposing patches directly
  from your image. Here are some things you can do straight away to step
  up to the next level and help make ManageIQ better for everyone.

.row.community-actions

  %section.col-md-4
    :markdown
      ### Communicate

      * [Talk with us on Twitter](https://twitter.com/home?status=@ManageIQ: )
      * [Chat real-time on IRC](irc)
      * [Talk with us and ask questions](http://talk.manageiq.org)

      *[IRC]: Internet Relay Chat

  %section.col-md-4
    :markdown
      ### Collaborate
      * [Report an issue](issues)
      * [Propose a feature in the forum](http://talk.manageiq.org/c/developers/blueprints)
      * [View the ManageIQ Roadmap on Trello](https://trello.com/b/UeTqKlp3/manageiq-roadmap)

  %section.col-md-4
    :markdown
      ### Develop

      * [Developer Documentation](/documentation/development/)
      * [Upgrade an image in-place](update-image)
      * [Install and deploy, from source - developer environment](/documentation/development/developer_setup)
      * [Read coding style and standards](/documentation/development/coding_style_and_standards/)
      * [View open issues](https://github.com/ManageIQ/manageiq/issues)
      * [Running Changelog for Every Sprint](/community/changelog/)
      * [Submit a pull request](patches)
      * [Upgrade to Ruby 2.0](/documentation/development/developer_ruby2_setup/)

    -#:markdown
      * [View the development roadmap](/documentation/development/roadmap/)
      * [Understand the architecture of ManageIQ](/documentation/development/architecture/)

.row.community-governance

  %section.col-md-12
    :markdown
      ## Governance and licensing

      The ManageIQ project is a meritocracy. We practice open and transparent
      planning and development. As a project participant, you get a say in the
      features we will prioritize in future versions, you can see feature
      planning and code contributions [as they
      happen](http://github.com/ManageIQ/manageiq), and you can propose your
      own changes via [pull requests](patches).

      We want the ManageIQ community to be a nice place to hang out and we
      expect community members to treat each other with courtesy and respect.
      Please familiarize yourself with our
      [community guidelines](community-guidelines).

      All code contributed to ManageIQ is licensed by the contributor under
      the Apache License 2.0. For
      more information on licensing and governance of ManageIQ, please read
      the [ManageIQ Licensing FAQ](licensing-faq).

      *[meritocracy]: a group based on individuals' achievements

