---
title: Community
---

:ruby

  def dummy_text paragraphs = 2, sentences = 3
    text = ''

    rand(1..paragraphs).times do
      text += lorem.sentences(rand(1..sentences)) + '.'
    end

    text
  end


.row

  %section.col-md-4
    :markdown

      * [Developer forum](http://talk.manageiq.org)
      * [Q&A](http://ask.manageiq.org]
      * [Bug tracker](https://github.com/ManageIQ/ManageIQ/issues)
      * [Wiki](https://github.com/ManageIQ/ManageIQ/wiki)
      * [Community guidelines](community_guidelines)
      * [Social media](social)

  %section.col-md-8
    :markdown
      ## Get involved

      If you are obsessive about retaining control of your infrastructure,
      and you're looking for similar people for nights at the opera and 
      long walks on the beach, then the ManageIQ community could be the
      place for you!

      We have lots of ways for people to help, whether it's contributing
      translations, contributing you knowledge and experience, or
      proposing patches right from your image. Here are some things you
      can do straight away to step up to the next level and help make
      ManageIQ better for everyone.

      * Upgrade your image to the latest version(link to page
        describing sshing into the image and git pulling the code)
      * Report an issue (link to "New issue" in GitHub) - for help on
        reporting issues, check out the [GitHub issues
        guide](link to github issues guide)
      * Answer a question on [our Q&A forum](http:/ask.manageiq.org/questions/scope:unanswered/sort:answers-asc/page:1/)
      * Propose a feature [on the developer forum](http://talk.manageiq.org)
      * Document a cloud management task [in the wiki](https://github.com/ManageIQ/ManageIQ/wiki)
      * [Submit a pull request](pull_requests)
      * [Generating a new image from source](link to build documentation which we might not have yet)
      * Learn about the [ManageIQ architecture](pull something from the cfme wiki?)

  %section.col-md-12
    :markdown
      ## Governance and licensing

      The ManageIQ project is a meritocracy. We practice open and transparent
      planning and development. As a project participant, you get a say in the
      features we will prioritize in future versions, you can see feature
      planning and code contributions [as they
      happen](http://github.com/ManageIQ), and you can propose your own changes
      via pull requests.

      All code contributed to the core of the project is contributed under a
      dual license: GPL v2 and Apache License v2. All modules distributed
      through market.manageiq.org must be licensed under an OSI approved
      license.

      For more information on licensing and governance of ManageIQ, please read
      the [ManageIQ Licensing FAQ](licensing_faq).
