---
title: Community
---

:markdown
  # Getting involved

  We have lots of ways for people to help, whether it's contributing
  your knowledge and experience, or proposing patches right from your
  image. Here are some things you can do straight away to step up to
  the next level and help make ManageIQ better for everyone.

.row

  %section.col-md-4
    :markdown
      ## Communicate

      * [Talk with us on Twitter](https://twitter.com/home?status=@ManageIQ: )
      * [Chat real-time on IRC](irc)
      * [Browse question and answers on _Ask_](http://ask.manageiq.org/)
      * [Answer an unanswered question](http://ask.manageiq.org/questions/scope:unanswered/sort:answers-asc/page:1/)
      * [Talk with us in the forum](http://talk.manageiq.org)

      *[IRC]: Internet Relay Chat

  %section.col-md-4
    :markdown
      ## Collaborate
      * [Report an issue](issues)
      * [Propose a feature in the forum](http://talk.manageiq.org)
      * [Write cloud management tasks in the wiki](https://github.com/ManageIQ/manageiq/wiki)

  %section.col-md-4
    :markdown
      ## Develop

      * [Upgrade an image in-place](update-image)
      * [Install and deploy, from source](install-from-source)
      * [Read coding style and standards](/documentation/development/coding_style_and_standards/)
      * [Fix an open issue](https://github.com/ManageIQ/manageiq/issues)
      * [Submit a pull request](patches)

    -#:markdown
      * [View the development roadmap](/documentation/development/roadmap/)
      * [Understand the architecture of ManageIQ](/documentation/development/architecture/)

.row

  %section.col-md-12
    :markdown
      ## Governance and licensing

      The ManageIQ project is a meritocracy. We practice open and transparent
      planning and development. As a project participant, you get a say in the
      features we will prioritize in future versions, you can see feature
      planning and code contributions [as they
      happen](http://github.com/ManageIQ/manageiq), and you can propose your
      own changes via pull requests.

      We want the ManageIQ community to be a nice place to hang out and we
      expect community members to treat each other with courtesy and respect.
      Please familiarize yourself with our
      [community guidelines](community-guidelines).

      All code contributed to the core of the project is contributed under a
      dual license: GPL v2 and Apache License v2. To understand why, and for
      more information on licensing and governance of ManageIQ, please read
      the [ManageIQ Licensing FAQ](licensing-faq).
