.row

  .col-md-12
    :markdown

      ## Meet the team

      ManageIQ is developed by a team of dedicated and experienced developers.
      As a transparent, openly developed, meritocracy, any member of the
      community can contribute to its development, but as with all projects,
      ManageIQ has a number of maintainers who set the direction and help
      prioritize features.

      ### Oleg Barenboim

      Oleg is the creator of ManageIQ, and the leader of the ManageIQ
      engineering team.

      * Github: [chessbyte](https://github.com/chessbyte)
      * Twitter: [chessbyte](https://twitter.com/chessbyte)

      ### Add other key people here

      All the publicly visible ManageIQ developers (and that should be
      everyone) should be listed here with a brief bio - and as new people
      come in, we should add them aggressively here.
