.row

  .col-md-12
    :markdown

      ## Meet the team

      ManageIQ is developed by a team of dedicated and experienced developers.
      As a transparent, openly developed, meritocracy, any member of the
      community can contribute to its development, but as with all projects,
      ManageIQ has a number of maintainers who set the direction and help
      prioritize features.

