---
layout: default
---

<div class="blog blog_year">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10">
        <header class="blog_header">
          <h1>
            {{ page.title }}
          </h1>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 blog_main">
        {% include post_list.html posts=page.posts css="month_archive" %}
      </div>
    
        {% include blog/side.html %}
      </div>
    </div>
  </div>
</div>
