---
layout: default
---

<div class="blog blog_year">
  <header class="blog_header">
    <h1>{{ page.title }}</h1>
  </header>

  <div class="blog_container">
    <div class="blog_main">
      {% if page.months %}
        {% for group in page.months %}
          <h2 class="archive_month_title">{{ group.title }}</h2>
          {% include post_list.html posts=group.posts css="month_archive" %}
        {% endfor %}
      {% endif %}
    </div>

    <div class="blog_side">
      {% include blog/side.html %}
    </div>
  </div>
</div>
