---
layout: default
---
<div class="blog_container">
  <div class="blog-link">
    <a href="/blog">&larr; Blog</a>
  </div>

  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

      <div class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%b %-d, %Y" }}
        </time>

        {% if page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          by
          <i itemprop="name">
            {{ page.author }}
          </i>
        </span>
        {% endif %}

        <ul class="post-tags">
          {% for tag in page.tags %}
          <li>
            <a href="/blog/tags/{{ tag }}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </header>

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
  </article>
</div>
