---
pageable: false
page_classes: front-page
---

- content_for :head do
  %link(href="/blog/feed.xml" rel="alternate" title="Atom feed" type="application/atom+xml")

%section.page-header
  .row
    %section.col-md-12

      %h2 Power-up your cloud and VMs
      %h3 manage, automate, and optimize — private and public


%section.overview
  .row

    %section.col-md-5

      :markdown
        ## Virtual machines, on your terms

        Currently have your virtual machines scattered between RHEV,
        oVirt, vSphere, Amazon EC2, and/or OpenStack?

        Control everything,
        completely from one end of the VM lifecycle to the other, in
        your browser, using the fully-open virtual machine command
        center: **ManageIQ**.


      -#:markdown
        ## Configured to your needs

        Automate and deeply customise the lifecycle of your VMs;
        establish policies and rules related to:

        * Self-service provisioning
        * Workflow processes
        * Capacity and Usage
        * Quota enforcement


    %section.features.col-md-7

      .feature-item.col-lg-6.col-sm-6
        .icon.glyphicon.glyphicon-eye-open
        :markdown

          ## Open Source
          ManageIQ is
          [the GPL + Apache licensed](#FIXME-licensing-link),
          project that powers
          [Red Hat® CloudForms](https://redhat.com/products/cloud-computing/cloudforms/).

      .feature-item.col-lg-6.col-sm-6
        /.icon.glyphicon.glyphicon-eye-close
        .icon.glyphicon.glyphicon-adjust
        :markdown

          ## Mix & match
          Use your preferred mix of OpenStack, Amazon, and existing
          virtual infrastructure.

      .feature-item.col-lg-6.col-sm-6
        .icon.glyphicon.glyphicon-cloud
        :markdown

          ## Cloud-friendly
          Amazon Web Services and Windows Azure are supported. Or roll
          your own with OpenStack, vSphere, or others.

      .feature-item.col-lg-6.col-sm-6
        .icon.glyphicon.glyphicon-fire
        :markdown

          ## Manage it all
          Easily manage your entire virtual infrastructure
          Use self-service provisioning and chargeback.

      -#.feature-item.col-lg-6.col-sm-6
        .icon.glyphicon.glyphicon-star
        :markdown

          ## A vibrant community
          Aroma crema cappuccino, iced sit a percolator. Filter café au
          lait extraction americano.

          French press, coffee cream flavour café au lait mocha.
          Aeropress, in acerbic robust so fair trade.

%section.get-started
  .row

    %section.col-md-5
      :markdown
        ## Get started...
        If you're interested in more effectively managing your virtual
        machines and cloud landscape — good news! ManageIQ is quick and
        easy to get up and running.

        We provide a self-contained appliance you can quickly spin up on
        your own infrastructure.


    %section.col-md-7.steps
      %h2 1. Download

      =link_to "Download ManageIQ", "#page-to-download-here", class: "download-button btn btn-success"

      .description
        Version 1.0.2
      .size
        214 Megabytes


      :markdown
        ## 2. _???_
        Something magical happens, most likely with a very short
        description of what how to add and boot up things.

        ## 3. Success!
        You're now running ManageIQ.



%section.blog-area
  .row

    %section.col-md-8

      %section.blog-posts

        %h2 From the blog…
        = partial :blog_posts, locals: locals


    %section.col-md-4
      %section.blog-archive
        %h2 Recent posts
        %ol
          %li Lorem ipsum dolor sit amet
          %li Consectetur adipiscing elit
          %li Eget porttitor lorem


%section.next-steps
  .row

    %section.col-md-4
      :markdown
        ## Get configured
        When ManageIQ is up and running, be sure to read:

        * [effectively managing your VMs](#FIXME-link)
        * [what other people are doing](#FIXME-link)
        * [useful add-ons](#FIXME-link)

    %section.col-md-4
      :markdown
        ## Join the community
        Talk with the developers or others in the community:

        * [ManageIQ on StackOverflow](#FIXME-link)
        * [@manageiq](http://twitter.com/manageiq) on Twitter
        * [Mailing lists](#FIXME-link-to-lists)
        * [IRC](#FIXME-link-to-doc-on-irc) (#manageiq on irc.Freenode.net)

    %section.col-md-4
      :markdown
        ## Get supported
        All the code produced in the ManageIQ project gets funneled into
        [Red Hat® CloudForms](https://redhat.com/products/cloud-computing/cloudforms/).
        If you're looking to [pay for support](#FIXME-paid-support-link), be sure to check it out.
