name: CI

on:
  push:
  pull_request:
  schedule:
  - cron: '0 0 * * *'

env:
  BUNDLE_WITHOUT: test:development
  MIQ_ENV: production

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
          bundler-cache: true
        timeout-minutes: 30
      - name: Build
        run: bundle exec exe/miq build all --trace
      - name: Regex Match Commit Message on Push
        uses: actions-ecosystem/action-regex-match@v2
        if: ${{ github.event_name == 'push' && github.repository_owner == 'ManageIQ' }}
        id: regex-commit-message
        with:
          text: ${{ github.event.head_commit.message }}
          regex: 'Merge pull request #(\d+)'
      - name: Notify manageiq.github.io on Push
        if: ${{ github.event_name == 'push' && github.repository_owner == 'ManageIQ' }}
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.WEBSITE_DEPLOY_TOKEN }}
          repository: ManageIQ/manageiq.github.io
          event-type: deploy
          client-payload: |
            { "repository": "${{ github.repository }}",
              "pr_number": "${{ steps.regex-commit-message.outputs.group1 }}",
              "ref_name": "${{ github.ref_name }}",
              "sha": "${{ github.sha }}" }
